* {
    font-family: 'Trirong', sans-serif;
    transition: all 0.3s;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-section-wrapper {
    overflow: hidden;
    background-color: black;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 850px;
    position: relative;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 850px;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}

.inner-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    position: relative;
    z-index: 2;
}

.left-panel {
    height: 100%;
    float: left;
    position: relative;
    width: 35%;
    text-align: center;
}

.left-panel img {
    height: 120%;
    margin-left: -430px;
    padding-top: 130px;
    display: inline-block;
}

.left-panel label {
    display: none;
}

.left-panel label {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 20px;
}

.right-panel {
    width: 700px;
    float: right;
    position: relative;
    z-index: 2;
    text-align: center;
    top: 120px;
}

.title {
    font-size: 70px;
    font-weight: 100;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0px;
    line-height: 100%;
}

.titleBreak {
    margin: 0 auto;
    display: block;
    font-size: 50px;
    color: white;
    width: 100px;
    text-align: center;
    text-shadow: 0px 1px 0px rgb(180, 180, 180), 0px 2px 0px rgb(180, 180, 180), 0px 3px 0px rgb(180, 180, 180);
    height: 35px;
    margin-top: -25px;
}

.subTitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

.list-container {
    width: 630px;
    margin: 0 auto;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    left: 20px;
    position: relative;
}

.list-container label {
    width: 286px;
    display: block;
    float: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    position: relative;
    padding-left: 25px;
    color: white;
    height: 25px;
}

.list-container i {
    position: absolute;
    top: 3px;
    left: 0px;
    font-size: 18px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.imp-text {
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 300;
    color: #ff0202;
    text-align: center;
    margin: 20px 0;
}

.button-subscribe.no-border {
    background: transparent;
    padding: 0;
}

.button-subscribe {
    width: 510px;
    max-width: 90%;
    margin: 23px auto 0 auto;
    background: #ebebeb;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.button-subscribe .cta-inner a,
.button-subscribe .cta-inner button {
    background: #b50000;
    font-size: 20px;
    line-height: 1.2em;
    padding: 13px 30px;
    display: block;
    width: 100%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    font-weight: 300;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.button-subscribe .cta-inner a i,
.button-subscribe .cta-inner button i,
.button-subscribe .cta-inner a span,
.button-subscribe .cta-inner button span {
    display: inline;
    vertical-align: middle;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    color: inherit;
}

.button-subscribe .cta-inner a i,
.button-subscribe .cta-inner button i,
.button-subscribe .cta-inner a span,
.button-subscribe .cta-inner button span {
    display: inline;
    vertical-align: middle;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    color: inherit;
}

.button-subscribe .cta-inner a:hover,
.button-subscribe .cta-inner button:hover {
    background: #d60000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.button-subscribe .cta-inner a:hover i,
.button-subscribe .cta-inner button:hover i {
    margin-left: 20px;
}


/* Media quries */

@media only screen and (max-width: 1300px) {
    .left-panel img {
        margin-left: -430px;
        padding-top: 150px;
        height: 101%;
    }
}

@media only screen and (max-width: 1200px) {
    .main-section-wrapper {
        height: 750px;
    }
    .left-panel {
        width: 100px;
    }
    .left-panel img {
        margin-left: -400px;
        padding-top: 100px;
    }
    .right-panel {
        width: 650px;
    }
    .right-panel {
        top: 100px;
    }
    .title {
        font-size: 65px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .subTitle {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .list-container {
        width: 550px;
    }
    .list-container label {
        width: 250px;
        display: block;
        float: left;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;
        position: relative;
        padding-left: 25px;
        color: white;
        height: 25px;
    }
    .list-container i {
        position: absolute;
        top: 2px;
        left: 0px;
        font-size: 17px;
    }
    .imp-text {
        font-size: 20px;
    }
}


/* Media 1000 */

@media only screen and (max-width: 1000px) {
    .main-section-wrapper {
        height: 700px;
    }
    .background-overlay {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        height: 900px;
    }
    .inner-container {
        width: 100%;
    }
    .left-panel {
        display: none;
    }
    .left-panel img {
        height: 120%;
        padding-top: 15px;
        margin: 0;
        width: 100%;
        object-fit: cover;
    }
    .left-panel label {
        display: block;
        position: absolute;
        font-size: 9px;
        letter-spacing: 1px;
        font-weight: 300;
        background: rgba(0, 0, 0, 0.6);
        bottom: 25;
        margin: 0 auto;
        padding: 5px;
        padding-left: 35px;
        border-radius: 3px;
        left: 20;
        color: rgba(255, 255, 255, 0.9);
    }
    .right-panel {
        width: 90%;
        float: none;
        margin: 0 auto;
        top: 20px;
    }
    .title {
        padding-top: 30px;
        font-size: 60px;
    }
}


/* Media quries 750 */

@media only screen and (max-width: 750px) {
    .main-section-wrapper {
        height: 700px;
    }
    .background-overlay {
        height: 700px;
    }
    .title {
        width: 500px;
        font-size: 55px;
    }
    .ss-subscribe-lightbox-trigger {
        width: auto !important;
    }
}


/* Media queries 600 */

@media only screen and (max-width: 600px) {
    .main-section-wrapper {
        height: 775px;
    }
    .background-overlay {
        height: 775px;
    }
    .left-panel {
        height: 150px;
        width: 150px;
        margin-top: 20px;
    }
    .left-panel label {
        display: none;
    }
    .right-panel {
        width: 100%;
    }
    .title {
        font-size: 40px;
        width: 90%;
        font-weight: 400;
    }
    .titleBreak {
        font-size: 40px;
        margin-bottom: -10px;
    }
    .subTitle {
        width: 300px;
        line-height: 130%;
        margin-left: auto;
        margin-right: auto;
    }
    .list-container {
        width: 270px;
        left: 0;
    }
    .list-container label {
        font-size: 13px;
        height: 20px;
        letter-spacing: 0.5px;
    }
    .list-container i {
        top: 1px;
        left: 2px;
        font-size: 15px;
    }
    .imp-text {
        width: 100%;
        line-height: 120%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: -5px;
    }
    .button-subscribe {
        width: 100%;
    }
}


/* Media quries 500 */

@media only screen and (max-width: 500px) {
    .main-section-wrapper {
        height: 800px;
    }
    .title {
        font-size: 35px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .ss-subscribe-lightbox-trigger {
        padding: 13px 5px !important;
    }
}